@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',System-ui, sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg,#6563FF,#c7e5ff);
}

.wrapper{
    background: white;
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.wrapper .header{
    text-align: center;
    font-size: 18px;
    transition: 0.3s ease-in-out;
    position: relative;
    margin-bottom: 10px;
    user-select: none;
}

.wrapper .header:hover{
    letter-spacing: 1px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    margin: 20px auto;
    gap: 15px;
    margin-right: 5px;
    position: relative;
}

.card{
    position: relative;
    perspective: 700px;
    cursor: pointer;
    width: 90px;
    height: 90px;
}

.view {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.4s ease-in-out;
    transform-style: preserve-3d;
    pointer-events: none;
    user-select: none;
    
  } 

.view img{
  height: 100%;
  width: 100%;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2); 
  border-radius: 10px;
  overflow: hidden;
}

.back {
  transform: rotateY(180deg);
}

.front{
  border-radius: 10px;
}

.front img{
  filter: opacity(0.7);
  padding: 20px;
}

.card.flip .view {
  transform: rotateY(180deg);
}

.card.shake{
  animation: shake 0.35s ease-in-out;
}
@keyframes shake {
  0%, 100%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(-13px);
  }
  40%{
    transform: translateX(13px);
  }
  60%{
    transform: translateX(-8px);
  }
  80%{
    transform: translateX(8px);
  }
}
